<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>antar maitri wellness hub</title>
    <link rel="stylesheet" href="resourcepage.css">
    
</head>
<body>
   
   <br>
    <h1>Latest Health News</h1>
    <div class="news-container">
  <div class="news-item">
            
            <a target="_blank" href="https://www.medicalnewstoday.com/articles/why-do-people-move-slower-as-they-get-older-study"><img  src="images (2).jpeg" alt="image"><h3>New research helps explain why people move slower as they get older</h3>
            </a>   
          </div> 
      <div class="news-item">
        <a target="_blank" href="https://www.medicalnewstoday.com/articles/global-health-disease-risk-factors-such-as-hypertension-high-blood-sugar-are-on-the-rise">
          <img src="download.jpeg" alt="Article Image 1">
          <h3>Global health: Disease risk factors on the rise</h3>
        </a>
      </div>
      <div class="news-item">
        <a target="_blank" href="https://www.medicalnewstoday.com/articles/semaglutide-heart-failure-diuretics-weight-loss">
          <img src="download (1).jpeg" alt="Article Image 2">
          <h3>Semaglutide may improve heart failure symptoms</h3>
        </a>
      </div>
      <div class="news-item">
        <a target="_blank" href="https://www.medicalnewstoday.com/articles/ketogenic-diet-may-lower-stress-and-boost-mental-health">
          <img src="download (2).jpeg" alt="Article Image 3">
          <h3>Ketogenic diet may lower stress and boost mental health</h3>
        </a>
      </div>
      <div class="news-item">
        <a target="_blank" href="https://www.medicalnewstoday.com/articles/newly-identified-biomarkers-may-warn-of-cancer-7-years-before-symptoms-set-in">
          <img src="images.jpeg" alt="Article Image 4">
          <h3>New biomarkers may warn of cancer years before symptoms</h3>
        </a>
      </div>
      <div class="news-item">
        <a target="_blank" href="https://timesofindia.indiatimes.com/life-style/health-fitness/health-news/common-habits-that-leads-to-hypertension/articleshow/110232420.cms">
          <img src="110232415.webp" alt="Article Image 5">
          <h3>Common habits that lead to hypertension</h3>
        </a>
      </div>
      <div class="news-item">
        <a target="" href="https://timesofindia.indiatimes.com/life-style/health-fitness/health-news/whats-normatec-compression-therapy-and-why-athletes-are-loving-it/articleshow/110244545.cms">
          <img src="Image3.webp" alt="Article Image 6">
          <h3>What's Normatec compression therapy and why athletes are loving it</h3>
        </a>
      </div>
      <div class="news-item">
        <a target="_blank" href="https://www.healthline.com/nutrition/intermittent-fasting-weight-loss">
          <img src="download (3).jpeg" alt="Article Image 7">
          <h3>Intermittent fasting: The science behind the weight loss trend</h3>
        </a>
      </div>
    </div>
  
   <br><br> 
  <h1>SPOTLIGHT</h1>
  <hr>
  <br>
  <br>
  <div class="posters">
    <a target="_blank" href="https://www.medicalnewstoday.com/human-biology"><img src="poster1.avif" alt="image 1"></a>
    <a target="_blank" href="https://www.medicalnewstoday.com/program/examining-psoriasis-from-the-inside-out"><img src="poster2.avif" alt="image 2"></a>
    <a target="_blank" href="https://www.medicalnewstoday.com/exercise-and-fitness"><img src="poster3.avif" alt="image 3"></a>
    <a target="_blank" href="https://www.medicalnewstoday.com/depression"><img src="poster4.avif" alt="image 4"></a>
  </div>

</body>
</html>